* 
{
    font-family: Arial, Helvetica, sans-serif;
}

body 
{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

.content 
{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #dc143c;
    padding: 20px;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}

input[type=text], textarea 
{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

label 
{
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] 
{
    background-color: #00008b;
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover 
{
    background-color: #000;
}

legend 
{
    color: #000;
    width: 100%;
}

select, option 
{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
}